<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AndrewHomework8</title>
    <!--Imported boostrap from textbook instructions-->
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">BOOKSTORE - Assignment 8</div>
                <div class="col-6 text-right">
                    <vc:cart-summary /> <!--Adding cart to all layout pages-->
                </div>
            </div>
        </div>
    </div>
    <br /><br />

    <div class="row m-1 p-1">
        <div id="categories" class="col-4">
            <h2>Welcome to the Bookstore</h2>
            <vc:navigation-menu />
        </div>
        <div class="col-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>
