<!--Notes regarding bootstrap commands: Added a "alert" command, a "row" class and learned the
    color codes and added green to the project using "btn-success"-->

@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel
<!--Boostrap command addition: Shows the current page-->
<!--<div class="alert alert-success" role="alert">
    <strong>You are on Page "intsert at" Model.PagingInfo.CurrentPage, scroll below for navigation</strong>
</div>-->
<!--Looping through each book-->
@foreach (var x in Model.Projects)
{
    <partial name="ProjectSummary" model="x" />
}





<!--Code for the navigation at bottom page-->
<!--Bootstrap addition: Learned color codes and added a green color-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-success" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>



<!--Validation for model-->
<div asp-validation-summary="All"></div>











